html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
#yuGiOh-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.card-yuGiOh{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: 10px solid black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: green;
    margin: 20px auto;
    padding: 20px;

}
.card-yuGiOh:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.card-name{
    font-size: 24px;
    padding: 10px ;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-type{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 10px;
    align-items: flex-end;
}
.card-image{
    margin: 0 30px;
}
.card-image img{
    width: 100%;
    height: auto;
    border: 10px solid black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}
.card-desc{
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
    border: 5px solid rgb(206, 132, 22);
    padding: 20px;
    background-color: aquamarine;
    justify-content: flex-end;
    font-weight: bold;
}